* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #e3646e;
  --color-blue: #3996db;
  --color-purple: #bb72e9;
  --color-green: #82bc4f;
  --color-yellow: #eabd5f;

  --color-gray-100: #e2e4e9;
  --color-gray-200: #c0c4ce;
  --color-gray-300: #878ea1;
  --color-gray-400: #292c34;
  --color-gray-500: #16181d;
  --color-gray-600: #0d0e11;
}

.title-lg {
  font-family: "Asap", sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 120%;
}
.title-md {
  font-family: "Asap", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
}
.title-sm {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 120%;
}
.subtitle {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-purple);
}
.marv-text-md {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.marv-text-sm {
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

/* sections */
header {
  background: var(--color-gray-600);
  width: "100%";
  padding: 22px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 22px;

  ul {
    list-style: none;
    font-family: "Asap", sans-serif;
  }

  a {
    color: var(--color-gray-100);
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: var(--color-purple);
  }
}

nav img {
  width: 30px;
  border-radius: 12px;
}
.menu {
  display: flex;
  flex-direction: row;
  color: var(--color-red);
  gap: 16px;
}
#services {
  padding: 120px;
  background-color: var(--color-gray-600);
  width: "100%";

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: var(--color-red);
  }

  h2 {
    color: var(--color-gray-100);
    font-family: var();
  }
}

.title-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flex-container {
  margin-top: 35px;
  width: "70%";
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.grid-service {
  h1 {
    font-family: "Asap", sans-serif;
    font-size: 22px;
    font-weight: bold;
  }

  h2 {
    font-family: "Asap", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}

footer {
  background-image: url("../images/Background_Contacts.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 120px;
  padding-bottom: 200px;

  h1 {
    color: var(--color-gray-100);
  }

  p {
    color: var(--color-gray-200);
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.form {
  margin-top: 48px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

input {
  width: 400px;
  height: 48px;
  padding: 20px;
  border-radius: 4px;
  border-color: var(--color-gray-400);
  background-color: var(--color-gray-400);
}

::placeholder {
  color: var(--color-gray-300);
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-gray-500);
  padding-bottom: 48px;
  padding-top: 52px;
}
.title-folio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: #e3646e;
  }

  h2 {
    color: var(--color-gray-100);
  }
}
.folio-group {
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#folio-card {
  width: 320px;
  height: 260px;
  background: var(--color-gray-400);
  border-radius: 8px;
  padding: 15px;

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 18px;
  }

  h1 {
    font-size: large;
    color: var(--color-gray-100);
  }

  h2 {
    font-size: 16px;
    color: var(--color-gray-200);
    font-weight: 400;
  }
}
