* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #f5f4f0;

  --color-primary: #d9d9d9;
  --color-acent-blue: #0c51a7;
  --color-acent-orange: #e95e10;
  --color-acent-pink: #e5245e;
  --color-acent-purple: #591b98;

  --color-primary: #1b1b1b;
  --color-secondary: #333333;
  --color-tertiary: #696969;
  --color-headline: #e1624f;
}

h1 {
  font-family: "Opens sans", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Opens sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: "Opens sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

p {
  font-family: "Opens sans", sans-serif;
  font-size: 16px;
  line-height: 25px;
}

body {
  width: "100%";
  background: var(--background-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  margin-top: 30px;
}

img {
  border: 1px solid var(--color-secondary);
  border-radius: 25px;
}

.title {
  width: 1120px;
  height: 80px;
  margin-top: 10px;
  padding: 8px;
}

.subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
}

.headline {
  font-family: "Opens sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-headline);
}

.description {
  text-align: center;
  padding: 10px;
}

.commomText {
  padding-bottom: 35px;
}

#header {
  width: 1120px;
  display: flex;
  flex-direction: column;
}

#container {
  padding-top: 35px;
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-travel {
  margin-top: 35px;
  padding-bottom: 20px;
}

#card-travel h3 {
  margin-top: 25px;
  margin-bottom: 20px;
}

#content-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#content-card h3 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 5px;
}

#content-card ul {
  padding-left: 12px;
  color: var(--color-acent-blue);
  font-weight: 600;
  font-size: 22px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: "100%";
  gap: 15px;
}
footer p {
  text-align: center;
  padding: 30px;
}
